.profile__dropdown {
  position: absolute;
  top: 80px;
  border: 1px solid var(--white);
  background-color: var(--bg-ldark);
  border-radius: 5px;
  padding: 15px 20px;
}

.profile__dropdown::before{
  content:'';
  position: absolute;
  top: -12px;
  left: 42%;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--bg-ldark);
  border-left: 1px solid var(--white);
  border-top: 1px solid var(--white);
  }

.profile__dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff00;
}

.profile__dropdown ul li{
  padding: 8px 0;
  background-color: #ffffff00;
}