.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__navigation, .header__login-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header a {
  color: #fff;
  text-decoration: none;

}
