.single-comment {
  margin: 20px 0;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}


.quotes {
  font-size: 100px;
  line-height: 0;
  font-style: italic;
  position: absolute;
  right: 0;
  top: 40px;
  /*How to make the height of the item small*/
  display: inline-block;
}

.single-comment__user-info {
  position: relative;
  text-transform: lowercase;
}

.edit {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.delete {
  color: darkred;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delete:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.single-comment__nav-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}