.single-comment {
  margin: 20px 0;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}


.quotes {
  font-size: 100px;
  line-height: 0;
  font-style: italic;
  position: absolute;
  right: 0;
  top: 40px;
  /*How to make the height of the item small*/
  display: inline-block;
}

.single-comment__user-info {
  position: relative;
  text-transform: lowercase;
}

.edit {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.delete {
  color: darkred;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.delete:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.single-comment__nav-buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.single-comment__nav-buttons.edit {
  justify-content: flex-start;
  text-decoration: none;
}

.user-comment__editing {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.user-comment__editing input {
  margin-bottom: 10px;
    padding: 15px;
    width: 98%;
    background-color: var(--bg-eldark);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.user-comment__editing input:focus {
  outline: none;
}