.post {
  background-color: var(--bg-ldark);
  border-radius: 10px;
  padding: 10px 20px 30px;
  margin: 20px 0;
}

.post__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.post__actions__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.post__actions__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.post__voting {
  display: flex;
  gap: 10px;
  padding: 10px 10px 8px;
  border-radius: 30px;
}

.post__voting.upvoted-false.downvoted-false {
  background-color: var(--bg-eldark);
}

.post__voting.upvoted-true {
  background-color: #1e7b61;
}

.post__voting.downvoted-true {
  background-color: #d9534f;
}

.post__edit-btn {
  background-color: var(--bg-eldark);
  color: var(--text-light);
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.post__edit-btn:hover {
  background-color: var(--accent);
}

.post__delete-btn {
  color: darkred;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.post__delete-btn:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.post__title {
  font-size: 30px;
}
.post__description {
  font-size: 18px;
  font-weight: 300;
}

.post__meta {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--grey);
  text-transform: lowercase;
}

.post__actions {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid var(--grey);
}

.post__editing {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 15px;
  font-size: 18px;
}

.post__editing__actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
} 

.post__editing__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 15px;
  width: 98%;
  background-color: var(--bg-eldark);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.post__editing__textarea {
  resize: both;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 20px;
    width: 97%;
    height: 200px;
    background-color: var(--bg-eldark);
    color: #fff;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

.post__editing__textarea:focus {
  outline: none;
}

.post__editing__title:focus {
  outline: none;
}