* {
  font-family: "Raleway", sans-serif;
}

/* Make color templates */
:root {
  --bg-dark: #1e252b;
  --bg-ldark: #262d35;
  --bg-eldark: #2c353e;
  --white: #fff;
  --accent: #2d398b;
  --main: #03a4e6;
  --grey: #4f545a;
}

body {
  background-color: var(--bg-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  border-color: #fff;
}
